<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">   </script>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
  </head>
  <body>
    <div id="map" class="jumbotron">
      <div id='gmap_canvas' style='height:440px;width:100%;'></div>
      <h2> CONTACT US </h2>
    </div>
    <script src='/js/main.js' type='text/javascript'></script>
  </body>
</html>
