<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ?
    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">   </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBU8q43APiRX30mvOkWIoB_cuvMfvMddKg&callback=init_map'></script>
  </head>
  <style>
  body {
    font-family: 'Montserrat', sans-serif;
   }
  </style>
  <body>

  <!--Header-->
  <!--navbar-->
  <nav class="navbar navbar-default " style="background:transparent;border-radius:0px;border:0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:white">ARCS'17</a>
    </div>

  <!--left tab -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color:white">Home</a></li>
            <li><a href="#"style="color:white">The Event</a></li>
            <li><a href="#" style="color:white">About Us</a></li>
            <li><a href="#" style="color:white">Sponsorship</a></li>
            <li><a href="#" style="color:white">Contact Us</a></li>
          </ul>



        </div><!-- .navbar-collapse -->

    </div><!--Container-fluid end-->
  </nav>
<div class= 'image'>
    <img src='/images/img1.jpg' style="height:520px;width:100%;margin-top:-70px;z-index:1" alt=''>
</div>


<!--bg1-->
<div class="container-fluid bg1 text-center">

  <div class="text">
    <br>
    <p>MARCH 2017</p>
    <hr style="width:80%;border:1px solid #00e6ac">
    <h1 >ARCS'17<h1>
    <br>
  </div>

  <div class="ieee text-center">
    <p>By IEEE-CS VIT</p>
  </div>
  <!--end bg1-->
</div>


<!--bg2-->
<div class="bg2">
<div class="row">

  <div class="col-lg-7 col-md-7 col-sm-7 first">
    <div class="content" style="margin:30px;display:block">
      <p style="color:#6666ff">ABOUT THE EVENT</p>

      <h1 >ARCS'17<h1>


      <p style="font-size:14px;opacity:0.7;padding:5px;word-spacing:4px;">ARCS'17 is technical colloquium which will aim at improving the technical knowledge of
        the young technical minds who are a part of this institution.
        For  Achieving  the  same, three workshops will be hosted by our team.
        The workshops will be headed by reknowned speakers from all over India.These individuals have excellent knowledge about their respective subjects.
        </p>
        <br>
      <p style="font-size:14px;opacity:0.7;word-spacing:5px;"><span class="glyphicon glyphicon-map-marker"></span> Venue : Vellore Institute of Technology,Vellore</p>
      <p style="font-size:14px;opacity:0.7;word-spacing:5px;"><span class="glyphicon glyphicon-calendar"></span>   Date : 3rd , 4th and 5th of March 2017</p>
      <p style="font-size:14px;opacity:0.7;word-spacing:5px;"><span class="glyphicon glyphicon-bullhorn"></span>  Total number of participants expected : 1000</p>
      <p style="font-size:14px;opacity:0.7;word-spacing:5px;"><span class="glyphicon glyphicon-tent"></span> Organising Agency : IEEE Computer Society ,<br>
                                                                                  VIT in Collaboration with SCOPE(School of Computer Science and Engineering) </p>

    </div>
  </div>




  <div class="col-lg-5  col-md-5 col-sm-5 image2">
    <img src="/images/table.jpg" alt='' style="height:500px;width:100%">
  </div>


</div><!--end row-->
</div><!--end bg2-->

<!--image 3-->
<div class="bg3">
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">

    <img src="/images/image3.jpg" style="height:380px;width:100%;filter: grayscale(80%) contrast(70%) brightness(70%) ;  " >

  </div>
</div>

</div><!--end bg3-->



<!--bg4-->
<div class="bg4">

  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">

        <div class="content" style="margin:40px;padding:30px;">
          <p style="font-size:18px;color:#6666ff;">ABOUT </p>

          <h1 >IEEE-CS VIT<h1>

            <br>
            <p id="para">
              IEEE Computer Society has long been stationed among the garrisons
              of computing power and knowledge that humankind has come to accumulate
              till date. Our Student chapter is one among 200 such organizations worldwide,
              and we strive to look at everything from a perspection that is always deemed different.
              <br>
              <br>
              At VIT , this society aims at creating awarenesss about the new advances in the field of
              Computer Science and imparting knowledge related to this field by conducting different
              workshops and events throughout the semester. IT gives substancial benefit to all the
              computer science enthusiasts as well as provides a support to other students to know about
              the technology that is ruling the world today .
            </p>
         </div>
       </div>


    <div class="col-lg-6 col-md-6 col-sm-6">

      <img src="/images/people.jpg" style="height:40%;width:100%"  alt=''>

    </div>

</div>


</div>



<!-- Workshops -->
  <div class="row" id="workshops">
    <center>
      <h1>WORKSHOPS</h1>
    </center>
      <div class='col-lg-3 col-md-3 col-sm-9' id="ws1">
        <img src="#">
      </div>
      <div class='col-lg-3 col-md-3 col-sm-9' id="ws2">
        <img src="#">
      </div>
      <div class='col-lg-3 col-md-3 col-sm-9' id="ws3">
        <img src="#">
      </div>
  </div>







    <!-- Map -->
    <div id="map">

      <div id='gmap_canvas' style='height:440px;width:100%;'></div>
      <h2> VISIT US </h2>
</div>



  <!-- Contact US -->
    <div id='contact' class='row'>
      <h2> CONTACT US </h2>
      <div class='col-lg-8 col-md-8 col-sm-12'>
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="EMAIL">
        <br>
        <input type="text" placeholder="SUBJECT">
        <br>
        <br>
        <input type="text" placeholder="MESSAGE">
        <br>
        <input type="submit" value="SEND">
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>Venue - Vellore Institute of Technology</p>
        <p><span class="glyphicon glyphicon-globe"></span>www.ieeecsvit.com <br> or mail us at ieeecs@vit.ac.in</p>
        <p><span class="glyphicon glyphicon-earphone"></span>+91 9718248382</p>
      </div>
    </div>



  <!-- Footer -->
    <div id="footer">
      <center>
        <a class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-social-icon btn-github">
          <span class="fa fa-github"></span>
        </a>
        <br>
        <h4><i class="fa fa-copyright" aria-hidden="true"></i> IEEE - Computer Society, VIT Vellore</h4>
      </center>
    </div>
    <script src='/js/main.js' type='text/javascript'></script>
  </body>
</html>
