<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/loader.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">   </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBU8q43APiRX30mvOkWIoB_cuvMfvMddKg'></script>
    <style>
      body{
          font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>
  <!--<body onload="letTheLoaderRoll();"> -->
    <body>
    <!-- LOADER -->
    <!-- <div id="loader">
      <div class="circle" style="text-align:center;vertical-align:middle;"></div>
      <div class="circle1"></div>
    </div> -->
    <!--Header-->
    <!--navbar-->
    <nav class="navbar navbar-default animated slideInDown" id="bg1" style="background:black;border-radius:0px;border:0px;box-shadow: 0 0 12px #333">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="border:0;border-radius:0 ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color:black;border:0">
            <span class="icon-bar" style="background-color:white"></span>
            <span class="icon-bar" style="background-color:white"></span>
            <span class="icon-bar" style="background-color:white"></span>
          </button>
          <a id="ARCS" class="navbar-brand" href="/" style="color:white">ARCS'17</a>
        </div>
        <!--left tab -->
        <div class="collapse navbar-collapse" id="myNavbar" style="background-color:transparent">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#bg1" style="color:white">Home</a></li>
            <li><a href="#bg2"style="color:white">The Event</a></li>
            <li><a href="#bg4" style="color:white">About Us</a></li>
            <li id="workshopNav"><a href="#workshops" style="color:white">Workshops</a></li>
            <li><a href="#map" style="color:white">Contact Us</a></li>
          </ul>
        </div><!-- .navbar-collapse -->
      </div><!--Container-fluid end-->
    </nav>
    <div class='image'>
      <div src="/images/img1.jpg" style="width: 100vw;background-size: cover;margin-top:-20px;z-index:1;height: 92.5vh;background-position: center;background-image: url(/images/img1.jpg);" alt="" id="img1"></div>
      <!--bg1-->
      <div class="bg1 text-center" style="position:absolute">
        <div class="text">
          <br>
          <p style="color:white;font-size:15px">3rd, 4th & 5th March, 2017</p>
          <hr style="width:80%;border:1px solid #00e6ac">
          <h1 class="animated fadeInUp"style="font-size:44px;">ARCS'17<h1>
          <br>
        </div>
        <div class="ieee text-center">
          <p>IEEE-CS VIT</p>
        </div>
        <!--end bg1-->
      </div>
    </div>
    <!--bg2-->
    <div class="bg2">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 first">
          <div class="content" style="margin:35px;display:block">
            <p style="color:#6666ff;text-align:justify">ABOUT THE EVENT</p>
            <h1 style="text-align:justify">ARCS'17<h1>
            <p style="font-size:16px;opacity:0.7;padding:5px;text-align:justify">
              ARCS'17 is technical colloquium which will aim at improving the technical knowledge of
              the young technical minds who are a part of this institution.
              For  Achieving  the  same, three workshops will be hosted by our team.
              The workshops will be headed by reknowned speakers from all over India.
              These individuals have excellent knowledge about their respective subjects.
            </p>
            <br>
            <p style="font-size:16px;opacity:0.7;text-align:justify">
              <a href="https://www.vit.ac.in" target="_blank"><span class="glyphicon glyphicon-map-marker i1"></span></a> Venue : Vellore Institute of Technology,Vellore
            </p>
            <p style="font-size:16px;opacity:0.7;text-align:justify">
              <a href="#"><span class="glyphicon glyphicon-calendar i1"></span></a>   Date : 3rd , 4th and 5th of March 2017
            </p>
            <p style="font-size:16px;opacity:0.7;text-align:justify">
              <a href="#"><span class="glyphicon glyphicon-bullhorn i1"></span></a>  Total number of participants expected : 1000
            </p>
            <p style="font-size:16px;opacity:0.7;text-align:justify">
              <a href="https://www.ieeecsvit.com" target="_blank"><span class="glyphicon glyphicon-tent i1"></span></a> Organising Agency :
              <ul style="font-size:16px;opacity:0.7;text-align:justify">
                <li>IEEE Computer Society ,VIT</li>
                <li>In collaboration with SCOPE(School of Computer Science and Engineering)</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-5  col-md-5 col-sm-5 image2">
          <img src="/images/table.jpg" alt='' style="width:100%">
        </div>
      </div><!--end row-->
    </div><!--end bg2-->
    <!--image 3-->
    <div class="bg3">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <img src="/images/image3.jpg" style="height:380px;width:100%;filter: grayscale(80%) contrast(70%) brightness(70%) ;  " >
        </div>
      </div>
    </div> <!--end bg3-->
    <!--bg4-->
    <div class="bg4" id="bg4">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="content" style="margin:6%;margin-bottom:0px">
            <p style="font-size:17px;color:#6666ff">ABOUT </p>
            <h1 >IEEE-CS VIT<h1>
            <br>
            <p id="para" style="font-size:18px">
              IEEE Computer Society has long been stationed among the garrisons
              of computing power and knowledge that humankind has come to accumulate
              till date. Our Student chapter is one among 200 such organizations worldwide,
              and we strive to look at everything from a perspection that is always deemed different.
              <br>
              <br>
              At VIT , this society aims at creating awarenesss about the new advances in the field of
              Computer Science and imparting knowledge related to this field by conducting different
              workshops and events throughout the semester. IT gives substancial benefit to all the
              computer science enthusiasts as well as provides a support to other students to know about
              the technology that is ruling the world today .
            </p>
         </div>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-12" id='img3'>
         <img src="/images/people.png" style="width:100%;padding:13vh 0 ;"  alt=''>
       </div>
      </div>
    </div><!--end bg4-->
    <!-- Workshops -->
    <div class="row jumbotron" id="workshops">
      <center>
        <h1>WORKSHOPS</h1>
        <div class='col-lg-4 col-md-4 col-sm-9'>
          <div  id="ws1" class="ws">
            <i class="fa fa-search-plus fa-3x"></i>
            <br>
            <h2> Search Engine Optimization </h2>
          </div>
        </div>
          <div class='col-lg-4 col-md-4 col-sm-9'>
            <div  id="ws2" class="ws">
              <i class="fa fa-wifi fa-3x"></i>
              <br>
              <h2> Internet of Things </h2>
            </div>
          </div>
          <div class='col-lg-4 col-md-4 col-sm-9' >
            <div id="ws3" class="ws">
              <i class="fa fa-lock fa-3x"></i>
              <br>
              <h2> Cyber Security </h2>
          </div>
        </div>
      </center>
    </div>
    <!-- Sponsorships -->
    <div class="row sr-only" id="sponsorship">
    </div>
    <!-- Map -->
    <center>
      <div id="map">
        <div id='gmap_canvas' style='height:60vh;width:100vw;'></div>
        <h2> CONTACT US </h2>
      </div>
    </center>
    <!-- Contact US -->
    <div id='contact' class='row'>
      <h2> CONTACT US </h2>
      <div class='col-lg-6 col-md-6 col-sm-12' id="contactForm">
        <center>
          <form action='/' method="post">
            <input type="text" placeholder="NAME" id="name" name="name">
            <input type="text" placeholder="EMAIL" id="email" name="email">
            <br>
            <input type="text" placeholder="SUBJECT" id="subject" name="subject">
            <br>
            <br>
            <input type="text" placeholder="MESSAGE" id="message" name="message">
            <br>
            <b><input type="submit" value="SEND" id="send"></b>
          </form>
        </center>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-12' id="details">
        <br>
        <br>
        <p><a href="https://www.vit.ac.in" target="_blank"><span class="glyphicon glyphicon-map-marker contactIcons"></span></a>  Venue - Vellore Institute of Technology, &nbsp; Vellore</p>
        <p><a href="https://www.ieeecsvit.com" target="_blank"><span class="glyphicon glyphicon-globe contactIcons"></span></a>  www.ieeecsvit.com </p>
        <p><a href="mailto:ieeecs@vit.ac.in" target="_blank"><span class="glyphicon glyphicon-envelope contactIcons"></span></a> ieeecs@vit.ac.in</p>
        <p><a href="#"><span class="glyphicon glyphicon-earphone contactIcons" target="_blank"></span> </a>+91 9952599004</p>
      </div>
    </div>
    <!-- Footer -->
    <div id="footer">
      <center>
        <a href="https://www.fb.com/ieeecsvit/" class="btn btn-social-icon btn-facebook" target="_blank">
          <span class="fa fa-facebook fa-3x footerIcons"></span>
        </a>
        <a href="https://github.com/orgs/IEEECS-VIT/" class="btn btn-social-icon btn-github" target="_blank">
          <span class="fa fa-github fa-3x footerIcons"></span>
        </a>
        <br>
        <h4>&nbsp;IEEE - Computer Society, VIT Vellore</h4>
        <!-- Made By Umang and Anish, contact us at ->
                            Umang Chaudhary(umang18oct@gmail.com) GitHub : umang18oct
                            Anish Singh Walia(loveeanish@gmail.com) GitHub : anishsingh20 -->
      </center>
    </div>
    <script src='/js/main.js' type='text/javascript'></script>
  </body>
</html>
