body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;

}
a {
  color: #00B7FF;
}
#map {
  padding: 0;
  position: relative;
}
#gmap_canvas img {
  width: 100%;
  height: 50%;
  max-width:none!important;
  background:none!important;
  margin: 0;
  padding: 0;
}
#map h2 {
  z-index: 99;
  position: absolute;
  top: 3%;
  left: 44%;
}

/*navbar li hover*/
.navbar-collapse .navbar-right li a {
  transition: .3s ease-in all;
}


.navbar-collapse .navbar-right li a:hover {

    background-color: #1F2945;

}

.navbar-collapse .navbar-right  {
  font-size: 15px;
}
.bg1 .text {
  width:54%;
  min-width:60%;

  margin:auto;
  border:2px solid #00e6ac;
}

.ieee  {
   width: 20%;
   margin: auto;
   background-color:#6666ff;
   color:white;
   margin-top:-10px;
   font-size: 15px;
}
.glyphicon {
font-size:17px;
}
.bg2  {
  height:60%;
  width:100%;
}
.content {
  margin-right:50px;
}
.bg1
{
  z-index:100;
  position: absolute;
  width:100%;
  top:200px;
}
.bg1 p {
  color:white;
}
.bg1 h1
{
  color:white;
}
.bg3 {
  height:50%;
}
/*bg4*/
.bg4 {
  height:50%;
  width:100%;
  background-color:#1F2945;
  color:white;
}
 #para {

font-size:17px;
/*word-spacing: 4px;*/
text-align:justify;


}
.bg4 .content {

}
 #contact {
  margin-right:0px;
  color: white;
  padding: 3% 8%;
  background-color: #1f2845;
}
#contact input[type="text"],input[type="submit"] {
  padding: 5%;
  margin-bottom: 3%;
  padding-bottom: 0;
  border: 0;
  background-color: rgba(31, 40, 69, 1);
  text-align: left;
  margin-right: 2%;
  color: white;
  vertical-align: bottom;
  font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
#contact input[type="text"] {
  border-bottom: 2px solid white;
}
#name, #email {
  width:45%;
}
#subject, #message {
  width: 92%;
}
input[type=text]:focus {
    outline: 0;
}
input[type=text]:focus::-webkit-input-placeholder {
    color: transparent;
}
#details {
  font-size: 18px;
  padding-left: 10%;
}
#footer {
  margin: 0;
  padding: 2% 0;
  color: white;
  background-color: #0f1523;
}
#workshops {
  padding: 3% 10%;
}
#ws1, #ws2, #ws3 {
  margin-left: 7%;
  padding: 4% 0;
  border: 3px solid #1f2845!important;
  margin-top: 3%;
  height: 40%;
}
#ws1{
  background-image: url('../images/ws1.jpg');
}
#ws2{
  background-image: url('../images/ws2.jpeg');
}
#ws3{
  background-image: url("../images/ws3.jpg");
}
